:root {
    --p-color: #0E185F;
    --s-color: #2fa5ff70;
    --a-color: #00FFDD;
    --c-color: #E8FFC2;
}


/* General rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p, button {
    font-size: 1rem;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

/* Header the navbar */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--p-color);
    color: floralwhite;
}
.nav-icon {
    display: none;
}

/* Main content */
main {
    display: flex;
    /* position: relative; */
    min-height: calc(100vh - 10.2rem);
}

/* The aside content by the left */
.control-panel {
    width: 30%;
    max-height: 100%;
    background-color: rgb(214, 93, 71);
    color: floralwhite;
    padding-left: 2rem;
    /* z-index: 99999; */
}

.control-panel article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.control-panel h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--p-color);
    width: 30%;
    transition: width 1s;     
}

.control-panel .project {
    border: none;
    display: block;
    text-align: left;
    width: 90%;
    padding: .6rem;
    margin-left: .8rem;
    border-radius: 6px;
    background-color: transparent;
    color: floralwhite;
    transition: font-weight 100ms;
}

.control-panel h2:hover {
    width: 90%;
}
.control-panel .project:hover {
    background-color: #393d5dca;
    font-weight: bold;
    cursor: pointer;
}

.project-adder-form {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.373);
    margin-left: .8rem;
    padding-bottom: .8rem;
    border-radius: 8px;
}
.project-adder-form form {
    text-align: center;
    width: 98%;
}
.project-adder-form input {
    width: 90%;
    padding: .3rem;
    margin: .6rem;
}



/* **************************** */
/* The Right side todo listing */

.list-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    position: relative;
}

.tab-header-section {
    display: none;
}
.list-container > section {
    padding: 1rem;
}
.todo {
    border-right: .1rem solid var(--p-color);
    border-radius: 2px;
}
.in-progress {
    border-left: .1rem solid var(--p-color);
    border-radius: 2px;
}

.todo > header,
.in-progress > header {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    height: 2rem;
}

.t-adder select:focus, 
.t-adder input:focus {
    outline: none;
    border: .1rem solid var(--p-color);
}

.t-adder button {
    outline: none;
}

.list-container .todo,
.list-container .in-progress {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.t-items {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: .6rem .4rem;
    margin: .4rem;
    border-radius: 4px;
    color: floralwhite;
    background-color: #393d5dca;
}
.t-items .right-grp {
    display: flex;
    flex: 1 0 70%;
    align-items: center;
    padding-right: 1rem;
    /* background-color:aqua; */
}
.t-items .left-grp {
    display: flex;
    flex: 1 0 30%;
    align-items: center;
    justify-content: space-around;
}

.t-items .t-complete {
    margin: .4rem .8rem .4rem .3rem;
}
/* .t-items .t-title {
    max-width: 160px;
} */

.t-items .t-delete {
    padding: .4rem;
    font-weight: bolder;
    font-size: 1.2rem;
}
.t-delete:hover {
    color: rgb(253, 118, 118);
    cursor: pointer;
}
.t-edit:hover,
.t-details:hover {
    color:aqua;
    cursor: pointer;
}

.t-title {
    transition: all .7s;
}

.t-items .t-title:hover {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0;
    width: 94%;
    height: 80%;
    border-radius: .4rem;
    padding: 1rem;
    background-color: rebeccapurple;
}
.t-items:hover {
    box-shadow: 2px 2px 5px 0 var(--p-color);
}


/* the add btn on the right of the todo */
.todo header > button {
    border-radius: 8px;
    padding: .2rem .6rem;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
}

header > button:hover {
    color: floralwhite;
    background-color: rgb(214, 93, 71);
    cursor: pointer;
}


/* The todo adder form */
.t-adder {
    margin: .4rem;
    position: relative;
}
.t-adder form {
    background-color: #0E185F;
    background-color: rgb(214, 93, 71);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: black;
    position: absolute;
    padding: .8rem;
    border-radius: 4px;
    z-index: 1;
}

.t-adder form::before {
    content: "";
    background-color: rgb(214, 93, 71);
    position: absolute;
    top: -3px;
    right: 3px;
    width: 12px;
    height: 12px;
    border: 4px;
    transform: rotate(45deg);
    z-index: -1;
}

.input .common {
    width: 49%;
    padding: .3rem;
    margin: .6rem auto;
}
.t-adder input {
    width: 100%;
    padding: .3rem;
    margin-top: .4rem;
}
.common {
    border-radius: 6px;
    border: .1rem solid gray;

}
.control {
    /* display: flex; */
    width: 100%;
    text-align: center;
}
.control button {
    width: 40%;
    padding: .4rem;

}
.add {
    background-color: rgb(104, 164, 104);
}

.cancel {
    background-color: rgb(253, 118, 118);
}

/********  FOOTER SECTION  ********/
.footer {
    padding: .5rem;
    color: floralwhite;
    background-color: var(--p-color);
    display: flex;
    justify-content: space-evenly;
}

.footer address ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* margin: .2rem auto; */
}
.footer a {
    display: inline-block;
    color: floralwhite;
    text-decoration: none;
    padding: .4rem;
}
.footer a:hover {
    color: floralwhite;
    background-color: #393d5dca;
    font-weight: bold;
    cursor: pointer;
}


/********  PRIORITY  ********/
.hide {
    display: none !important;

}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 830px) {
    .control-panel {
        display: block;
        position: absolute;
        height: calc(100% - 10.02rem);
        width: 0;
        padding-left: 0;
        right: 0;
        z-index: 999;
        transition: .4s;
        /* background-color: rgb(253, 118, 118) !important; */
    }
    .overlay {
        content: '';
        position: absolute;
        display: block;
        left: -100vw;
        background-color: rgba(68, 68, 68, 0.468);
        width: 250%;

        height: 100%;
    }
    .nav-icon {
        display: block;
    }
    .nav-icon:hover {
        cursor: pointer;
    }

    .show-nav {
        width: 40%;
        padding-left: 1rem;
    }
}

@media  screen and (max-width: 650px) {
    .list-container {
        display: flex;
        padding: .8rem;
        flex-direction: column;
    }

    .list-container .todo,
    .list-container .in-progress {
        border: none;
    }
}

@media screen and (max-width: 350px) {
    *:not(h3) {
        font-size: 97%;
    }
    .t-adder .input .common {
        width: 90%;
    }
}