.header {
    height: 2rem;
    background-color: aquamarine;
}

.nav-bar {
    width: 100%;

}

.nav-bar .logo {
    float: left;
    padding: .3rem;
}

.nav-bar a {
    float: right;
    padding: .45rem;
    background-color: rgb(131, 90, 168);
    color: floralwhite;
}

.nav-bar a:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: floralwhite;
}

.nav-bar::after {
    content: "";
    clear: both;
}